My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -48
      ],
      "id": "5319640f-8c54-450e-aab8-0defa3eb5d34",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "fJPbrHyPZCmAw2oY",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support",
              "description": "has to be the emails which contains questions about FAQ"
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -144,
        -48
      ],
      "id": "4c32b29c-52e3-4d0c-9b34-1b16484428c8",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -144,
        176
      ],
      "id": "52d52ff0-92f1-4934-825b-4fa08335010e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HmIDz1nGhpiCE9hc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=consider yourself as a expert customer support assistance and assume you are going to anser all the customer emails with proper answers. and the email mmust has to be simple and comphrehensive . and  treat  customer polietly.\n\nour company name is leo analytics services and we provide various analytical related operations.\nanswer the quesstions using information provided in the knowledged based tools "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        -288
      ],
      "id": "a583a2c0-bf80-4b6c-a1a2-cf67f63e4692",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        384,
        64
      ],
      "id": "95d7d26c-dd0d-414e-8825-111c13ab672b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "HmIDz1nGhpiCE9hc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access policy and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "topK": 10,
        "useReranker": "={{ false }}",
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        656,
        48
      ],
      "id": "bd0812b3-3e12-4121-ba85-268a48cb5e91",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "P1eVsuu9zDl0unMM",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        256
      ],
      "id": "642e90ce-c2bb-4ed3-9b86-61033b7d8fce",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HmIDz1nGhpiCE9hc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        -256
      ],
      "id": "9bd06feb-5b26-43b6-ab50-759f789ea652",
      "name": "Reply to a message",
      "webhookId": "6e1da9e2-8e52-477e-b39a-4261aa7379e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "fJPbrHyPZCmAw2oY",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        -288
      ],
      "id": "e9af3b64-c1b8-4210-ae21-dc4184c07c9a",
      "name": "Add label to message",
      "webhookId": "b04ebecd-3031-4fc7-acbe-a32a5aa1e91c",
      "credentials": {
        "gmailOAuth2": {
          "id": "fJPbrHyPZCmAw2oY",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7ccd5c38-7e0f-4f64-a56f-8c0321a3b133",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "324831443f4c450370731439c124abe526ab1385953b2edfd2df9dcf5387147c"
  },
  "id": "q3M93N4gqwFLsM3n",
  "tags": []
}